[submodule "packages/Inspirium/UserManagement"]
	path = packages/Inspirium/UserManagement
	url = https://mbanusic@github.com/Inspirium/UserManagement.git
[submodule "packages/Inspirium/HumanResources"]
	path = packages/Inspirium/HumanResources
	url = https://mbanusic@github.com/Inspirium/HumanResources.git
[submodule "packages/Inspirium/SKTemplate"]
	path = packages/Inspirium/SKTemplate
	url = https://mbanusic@github.com/Inspirium/SKTemplate.git
[submodule "packages/Inspirium/BookProposition"]
	path = packages/Inspirium/BookProposition
	url = https://mbanusic@github.com/Inspirium/BookProposition.git
[submodule "packages/Inspirium/TaskManagement"]
	path = packages/Inspirium/TaskManagement
	url = https://mbanusic@github.com/Inspirium/TaskManagement.git
[submodule "packages/Inspirium/BookManagement"]
	path = packages/Inspirium/BookManagement
	url = https://mbanusic@github.com/Inspirium/BookManagement.git
[submodule "packages/Inspirium/FileManagement"]
	path = packages/Inspirium/FileManagement
	url = https://github.com/Inspirium/FileManagement.git
